openapi: "3.0.0"
info:
  title: Digital Marketplace API
  description: Digital Marketplace internal API
  version: "1.0.0"
servers:
- url: https://api.digitalmarketplace.service.gov.uk/
components:
  securitySchemes:
    apikey:
      type: apiKey
      name: Authorization
      in: header
paths:
  /:
    get:
      summary: Root API endpoint
      tags:
      - 'Main'
      parameters: []
      responses:
        '200':
          description: A collection of main API endpoint links
          content:
            application/json:
              schema:
                type: object
                properties:
                  links:
                    type: object
              examples:
                default:
                  summary: Response example
                  value:
                    links:
                      audits.list: https://api.digitalmarketplace.service.gov.uk/audit-events
                      frameworks.list: https://api.digitalmarketplace.service.gov.uk/frameworks
                      services.list: https://api.digitalmarketplace.service.gov.uk/services
                      suppliers.list: https://api.digitalmarketplace.service.gov.uk/suppliers
        '401':
          description: Response to an unauthorized request to the API
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              examples:
                default:
                  summary: Unauthorized response example
                  value:
                    error: Unauthorized; bearer token must be provided
        '403':
          description: Response to a request with an invalid authentication token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              examples:
                default:
                  summary: Forbidden response example
                  value:
                    error: Forbidden; invalid bearer token provided invalid-token
      security:
      - apikey: []
  /_status:
    get:
      summary: Request the API health-check status
      description: |-
        Checks if the API instance is operational, whether it can connect to the database and
        returns the status, current release number, list of feature flags and framework statuses.
      tags:
      - Main
      parameters:
      - in: query
        name: ignore-dependencies
        schema:
          type: boolean
        required: false
        description: |-
          When present, return the status of the API web application itself, without connecting to the database.
      responses:
        '200':
          description: OK status response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
              examples:
                default:
                  summary: Full status response
                  value: {
                    "db_version": "910",
                    "flags": {
                        "FEATURE_FLAGS_TRANSACTION_ISOLATION": false
                    },
                    "frameworks": {
                        "digital-outcomes-and-specialists": "expired",
                        "digital-outcomes-and-specialists-2": "live",
                        "g-cloud-4": "expired",
                        "g-cloud-5": "expired",
                        "g-cloud-6": "expired",
                        "g-cloud-7": "expired",
                        "g-cloud-8": "live",
                        "g-cloud-9": "live"
                    },
                    "status": "ok",
                    "version": "release-599"
                  }
                ignore_dependencies:
                  summary: Status response with `?ignore-dependencies`
                  value:
                    status: ok
  /agreements:
    post:
      summary: Create a supplier agreement
      description: |-
        Create a supplier agreement.
      tags:
      - Agreements
      parameters: []
      requestBody:
        description: Request body
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                agreement:
                  type: object
                updated_by:
                  type: string
            examples:
              default:
                summary: Request body example
                value:
                  agreement:
                    frameworkSlug: example-framework
                    supplierId: 700004
                  updated_by: interested@example.com
      responses:
        '201':
          description: Created supplier agreement
          content:
            application/json:
              schema:
                type: object
                properties:
                  agreement:
                    type: object
              examples:
                default:
                  summary: Created supplier agreement
                  value:
                    agreement:
                      frameworkSlug: example-framework
                      id: 9
                      status: draft
                      supplierId: 700004
        '400':
          description: Failed to create requested agreement
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              examples:
                no_supplier_id:
                  summary: Missing supplierId
                  value:
                    error: Invalid JSON must have 'supplierId' keys
                no_framework_slug:
                  summary: Missing frameworkSlug
                  value:
                    error: Invalid JSON must have 'frameworkSlug' keys
        '404':
          description: Failed to create requested agreement due to a missing referenced object
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              examples:
                supplier_not_on_framework:
                  summary: Specified supplier is not on the specified framework
                  value:
                    error: supplier_id '700007' is not on framework 'example-framework'
      security:
      - apikey: []
  /agreements/{agreement_id}:
    parameters:
    - in: path
      name: agreement_id
      schema:
        type: integer
      required: true
      description: 'Example: `/agreements/32`'
    get:
      summary: See a supplier agreement.
      description: |-
        See a supplier agreement.
      tags:
      - Agreements
      parameters: []
      responses:
        '200':
          description: Supplier agreement viewed succesfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  agreement:
                    type: object
              examples:
                default:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      frameworkSlug: example-framework
                      id: 9
                      status: draft
                      supplierId: 700004
                1:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      frameworkSlug: example-framework
                      id: 11
                      status: draft
                      supplierId: 700010
                2:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      frameworkSlug: example-framework
                      id: 12
                      signedAgreementDetails:
                        details: here
                      status: draft
                      supplierId: 700011
                3:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      frameworkSlug: example-framework
                      id: 13
                      signedAgreementDetails:
                        details: here
                      signedAgreementPath: path
                      signedAgreementReturnedAt: '2016-10-01T01:01:01.000000Z'
                      status: signed
                      supplierId: 700012
                4:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      frameworkSlug: example-framework
                      id: 14
                      signedAgreementDetails:
                        details: here
                      signedAgreementPath: path
                      signedAgreementPutOnHoldAt: '2016-11-01T01:01:01.000000Z'
                      signedAgreementReturnedAt: '2016-10-01T01:01:01.000000Z'
                      status: on-hold
                      supplierId: 700013
                5:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      countersignedAgreementDetails:
                        countersigneddetails: here
                      countersignedAgreementReturnedAt: '2016-11-01T01:01:01.000000Z'
                      frameworkSlug: example-framework
                      id: 15
                      signedAgreementDetails:
                        details: here
                      signedAgreementPath: path
                      signedAgreementReturnedAt: '2016-10-01T01:01:01.000000Z'
                      status: approved
                      supplierId: 700014
                6:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      countersignedAgreementDetails:
                        countersigneddetails: here
                      countersignedAgreementPath: path
                      countersignedAgreementReturnedAt: '2016-11-01T01:01:01.000000Z'
                      frameworkSlug: example-framework
                      id: 16
                      signedAgreementDetails:
                        details: here
                      signedAgreementPath: path
                      signedAgreementReturnedAt: '2016-10-01T01:01:01.000000Z'
                      status: countersigned
                      supplierId: 700015
                7:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      countersignedAgreementDetails:
                        countersigneddetails: here
                      countersignedAgreementPath: /example.pdf
                      countersignedAgreementReturnedAt: '2016-11-01T01:01:01.000000Z'
                      frameworkSlug: example-framework
                      id: 17
                      signedAgreementDetails:
                        details: here
                      signedAgreementPath: path
                      signedAgreementReturnedAt: '2016-10-01T01:01:01.000000Z'
                      status: countersigned
                      supplierId: 700016
                8:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      frameworkSlug: example-framework
                      id: 21
                      signedAgreementDetails:
                        signerName: name
                        signerRole: role
                      signedAgreementPath: /example.pdf
                      status: draft
                      supplierId: 700020
                9:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      countersignedAgreementPath: countersigned/file.jpg
                      countersignedAgreementReturnedAt: '2016-11-01T01:01:01.000000Z'
                      frameworkSlug: example-framework
                      id: 30
                      signedAgreementDetails:
                        signerName: name
                        signerRole: role
                      signedAgreementPath: path/file.pdf
                      signedAgreementReturnedAt: '2016-10-01T01:01:01.000000Z'
                      status: countersigned
                      supplierId: 700029
                10:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      countersignedAgreementPath: countersigned/file.jpg
                      countersignedAgreementReturnedAt: '2016-11-01T01:01:01.000000Z'
                      frameworkSlug: example-framework
                      id: 31
                      signedAgreementPath: path/file.pdf
                      signedAgreementReturnedAt: '2016-10-01T01:01:01.000000Z'
                      status: countersigned
                      supplierId: 700030
                13:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      countersignedAgreementReturnedAt: '2016-11-01T01:01:01.000000Z'
                      frameworkSlug: example-framework
                      id: 33
                      signedAgreementPath: path/file.pdf
                      signedAgreementReturnedAt: '2016-10-01T01:01:01.000000Z'
                      status: approved
                      supplierId: 700032
                14:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      countersignedAgreementPath: /path/to/countersigned/document
                      countersignedAgreementReturnedAt: '2016-10-02T00:00:00.000000Z'
                      frameworkSlug: example-framework
                      id: 54
                      signedAgreementReturnedAt: '2016-10-01T00:00:00.000000Z'
                      status: countersigned
                      supplierId: 700053

      security:
      - apikey: []
    post:
      summary: Update supplier agreement.
      description: |-
        Update supplier agreement.
      tags:
      - Agreements
      parameters: []
      requestBody:
        description: Request body
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                agreement:
                  type: object
                updated_by:
                  type: string
            examples:
              default:
                summary: DESCRIPTION
                value:
                  agreement:
                    signedAgreementDetails:
                      signerName: name
                      signerRole: role
                  updated_by: interested@example.com
              1:
                summary: DESCRIPTION
                value:
                  agreement:
                    signedAgreementPath: /example.pdf
                  updated_by: interested@example.com
              2:
                summary: DESCRIPTION
                value:
                  agreement:
                    signedAgreementDetails:
                      signerName: name
                      signerRole: role
                    signedAgreementPath: /example.pdf
                  updated_by: interested@example.com
              3:
                summary: DESCRIPTION
                value:
                  agreement:
                    signedAgreementDetails: {}
                  updated_by: interested@example.com
              4:
                summary: DESCRIPTION
                value:
                  agreement:
                    countersignedAgreementPath: countersigned/file.jpg
                  updated_by: interested@example.com
              5:
                summary: DESCRIPTION
                value:
                  agreement:
                    countersignedAgreementPath: null
                  updated_by: interested@example.com
              6:
                summary: DESCRIPTION
                value:
                  agreement:
                    signedAgreementPath: /path-to-g-cloud-7.pdf
                  updated_by: example
              7:
                summary: DESCRIPTION
                value:
                  agreement:
                    signedAgreementDetails:
                      signerName: name_1
                      signerRole: job_1
                    signedAgreementPath: path/to/agreement/1.pdf
                  updated_by: example
              8:
                summary: DESCRIPTION
                value:
                  agreement:
                    signedAgreementDetails:
                      signerName: name_2
                      signerRole: job_2
                    signedAgreementPath: path/to/agreement/2.pdf
                  updated_by: example
              9:
                summary: DESCRIPTION
                value:
                  agreement:
                    countersignedAgreementPath: path/to/countersigned7.pdf
                  updated_by: example
              10:
                summary: DESCRIPTION
                value:
                  agreement:
                    signedAgreementDetails:
                      signerName: name
                      signerRole: role
                  updated_by: interested@example.com
              11:
                summary: DESCRIPTION
                value:
                  agreement:
                    frameworkAgreementVersion: v23.4
                  updated_by: interested@example.com
              12:
                summary: DESCRIPTION
                value:
                  agreement:
                    signedAgreementReturnedAt: '2013-13-13T00:00:00.000000Z'
                  updated_by: interested@example.com
              13:
                summary: DESCRIPTION
                value:
                  agreement:
                    signedRandomKey: banana
                  updated_by: interested@example.com
              14:
                summary: DESCRIPTION
                value:
                  agreement:
                    frameworkAgreementVersion: v23.4
                  updated_by: interested@example.com

      responses:
        '200':
          description: Supplier agreement updated succesfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  agreement:
                    type: object
              examples:
                default:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      frameworkSlug: example-framework
                      id: 19
                      signedAgreementDetails:
                        signerName: name
                        signerRole: role
                      status: draft
                      supplierId: 700018
                1:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      frameworkSlug: example-framework
                      id: 20
                      signedAgreementPath: /example.pdf
                      status: draft
                      supplierId: 700019
                2:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      frameworkSlug: example-framework
                      id: 21
                      signedAgreementDetails:
                        signerName: name
                        signerRole: role
                      signedAgreementPath: /example.pdf
                      status: draft
                      supplierId: 700020
                3:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      frameworkSlug: example-framework
                      id: 28
                      status: draft
                      supplierId: 700027
                4:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      countersignedAgreementPath: countersigned/file.jpg
                      countersignedAgreementReturnedAt: '2016-11-01T01:01:01.000000Z'
                      frameworkSlug: example-framework
                      id: 30
                      signedAgreementDetails:
                        signerName: name
                        signerRole: role
                      signedAgreementPath: path/file.pdf
                      signedAgreementReturnedAt: '2016-10-01T01:01:01.000000Z'
                      status: countersigned
                      supplierId: 700029
                5:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      countersignedAgreementPath: countersigned/file.jpg
                      countersignedAgreementReturnedAt: '2016-11-01T01:01:01.000000Z'
                      frameworkSlug: example-framework
                      id: 31
                      signedAgreementPath: path/file.pdf
                      signedAgreementReturnedAt: '2016-10-01T01:01:01.000000Z'
                      status: countersigned
                      supplierId: 700030
                6:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      countersignedAgreementReturnedAt: '2016-11-01T01:01:01.000000Z'
                      frameworkSlug: example-framework
                      id: 33
                      signedAgreementPath: path/file.pdf
                      signedAgreementReturnedAt: '2016-10-01T01:01:01.000000Z'
                      status: approved
                      supplierId: 700032
                7:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      frameworkSlug: example-framework
                      id: 19
                      signedAgreementDetails:
                        signerName: name
                        signerRole: role
                      status: draft
                      supplierId: 700018
                8:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      frameworkSlug: example-framework
                      id: 20
                      signedAgreementPath: /example.pdf
                      status: draft
                      supplierId: 700019
                9:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      frameworkSlug: example-framework
                      id: 21
                      signedAgreementDetails:
                        signerName: name
                        signerRole: role
                      signedAgreementPath: /example.pdf
                      status: draft
                      supplierId: 700020
                10:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      countersignedAgreementPath: countersigned/file.jpg
                      countersignedAgreementReturnedAt: '2016-11-01T01:01:01.000000Z'
                      frameworkSlug: example-framework
                      id: 30
                      signedAgreementDetails:
                        signerName: name
                        signerRole: role
                      signedAgreementPath: path/file.pdf
                      signedAgreementReturnedAt: '2016-10-01T01:01:01.000000Z'
                      status: countersigned
                      supplierId: 700029
                11:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      countersignedAgreementPath: countersigned/file.jpg
                      countersignedAgreementReturnedAt: '2016-11-01T01:01:01.000000Z'
                      frameworkSlug: example-framework
                      id: 31
                      signedAgreementPath: path/file.pdf
                      signedAgreementReturnedAt: '2016-10-01T01:01:01.000000Z'
                      status: countersigned
                      supplierId: 700030
                12:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      countersignedAgreementReturnedAt: '2016-11-01T01:01:01.000000Z'
                      frameworkSlug: example-framework
                      id: 33
                      signedAgreementPath: path/file.pdf
                      signedAgreementReturnedAt: '2016-10-01T01:01:01.000000Z'
                      status: approved
                      supplierId: 700032
                13:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      frameworkSlug: g-cloud-7
                      id: 55
                      signedAgreementPath: /path-to-g-cloud-7.pdf
                      status: draft
                      supplierId: 0
                14:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      frameworkSlug: g-cloud-8
                      id: 56
                      signedAgreementDetails:
                        signerName: name_1
                        signerRole: job_1
                      signedAgreementPath: path/to/agreement/1.pdf
                      status: draft
                      supplierId: 1
                15:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      countersignedAgreementDetails:
                        approvedByUserId: 321
                      countersignedAgreementPath: path/to/countersigned7.pdf
                      countersignedAgreementReturnedAt: '2016-11-30T08:00:00.000000Z'
                      frameworkSlug: g-cloud-8
                      id: 62
                      signedAgreementDetails:
                        frameworkAgreementVersion: v1.0
                        signerName: name_7
                        signerRole: job_7
                        uploaderUserId: 123
                      signedAgreementPath: path/to/agreement/7.pdf
                      signedAgreementReturnedAt: '2016-11-30T04:00:00.000000Z'
                      status: countersigned
                      supplierId: 7

        '400':
          description: DESCRIPTION
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              examples:
                default:
                  summary: DESCRIPTION
                  value:
                    error: Can not update signedAgreementDetails for a framework agreement
                      without a frameworkAgreementVersion
                1:
                  summary: DESCRIPTION
                  value:
                    error: Invalid JSON should not have 'frameworkAgreementVersion'
                      keys
                2:
                  summary: DESCRIPTION
                  value:
                    error: Invalid JSON should not have 'signedAgreementReturnedAt'
                      keys
                3:
                  summary: DESCRIPTION
                  value:
                    error: Can not update signedAgreementDetails or signedAgreementPath
                      if agreement has been signed
                4:
                  summary: DESCRIPTION
                  value:
                    error: Invalid JSON should not have 'signedRandomKey' keys
                5:
                  summary: DESCRIPTION
                  value:
                    error:
                      _form:
                      - Additional properties are not allowed (u'randomKey' was unexpected)
                6:
                  summary: DESCRIPTION
                  value:
                    error:
                      signerName: answer_required
                      signerRole: answer_required
                7:
                  summary: DESCRIPTION
                  value:
                    error: Can not update countersignedAgreementPath if agreement has
                      not been approved for countersigning
                8:
                  summary: DESCRIPTION
                  value:
                    error: Can not update signedAgreementDetails for a framework agreement
                      without a frameworkAgreementVersion
                9:
                  summary: DESCRIPTION
                  value:
                    error: Invalid JSON should not have 'frameworkAgreementVersion'
                      keys
                10:
                  summary: DESCRIPTION
                  value:
                    error: Invalid JSON should not have 'signedAgreementReturnedAt'
                      keys
                11:
                  summary: DESCRIPTION
                  value:
                    error: Can not update signedAgreementDetails or signedAgreementPath
                      if agreement has been signed
                12:
                  summary: DESCRIPTION
                  value:
                    error: Invalid JSON should not have 'signedRandomKey' keys
                13:
                  summary: DESCRIPTION
                  value:
                    error:
                      _form:
                      - Additional properties are not allowed (u'randomKey' was unexpected)
                14:
                  summary: DESCRIPTION
                  value:
                    error:
                      signerName: answer_required
                      signerRole: answer_required
                15:
                  summary: DESCRIPTION
                  value:
                    error: Can not update countersignedAgreementPath if agreement has
                      not been approved for countersigning
      security:
      - apikey: []
  /agreements/{agreement_id}/approve:
    parameters:
    - in: path
      name: agreement_id
      schema:
        type: integer
      required: true
      description: 'Example: `/agreements/54/approve`'
    post:
      summary: SUMMARY
      description: |-
        DESCRIPTION
      tags:
      - Agreements
      parameters: []
      requestBody:
        description: Request body
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                agreement:
                  type: object
                updated_by:
                  type: string
            examples:
              default:
                summary: DESCRIPTION
                value:
                  agreement:
                    userId: '1234'
                  updated_by: chris@example.com
              1:
                summary: DESCRIPTION
                value:
                  agreement:
                    userId: '1234'
                  updated_by: chris@example.com
              2:
                summary: DESCRIPTION
                value:
                  agreement:
                    userId: '1234'
                  updated_by: chris@example.com
              3:
                summary: DESCRIPTION
                value:
                  agreement:
                    userId: '1234'
                  updated_by: chris@example.com
              4:
                summary: DESCRIPTION
                value:
                  agreement:
                    userId: '1234'
                  updated_by: chris@example.com
              5:
                summary: DESCRIPTION
                value:
                  agreement:
                    unapprove: true
                    userId: '1234'
                  updated_by: made-a-whoopsie@example.com
              6:
                summary: DESCRIPTION
                value:
                  agreement:
                    userId: '1234'
                  updated_by: chris@example.com
              7:
                summary: DESCRIPTION
                value:
                  agreement:
                    userId: '1234'
                  updated_by: chris@example.com
              8:
                summary: DESCRIPTION
                value:
                  agreement:
                    userId: '1234'
                  updated_by: chris@example.com
              9:
                summary: DESCRIPTION
                value:
                  agreement:
                    userId: '1234'
                  updated_by: chris@example.com
              10:
                summary: DESCRIPTION
                value:
                  agreement:
                    userId: '1234'
                  updated_by: chris@example.com
              11:
                summary: DESCRIPTION
                value:
                  agreement:
                    unapprove: true
                    userId: '1234'
                  updated_by: made-a-whoopsie@example.com
              12:
                summary: DESCRIPTION
                value:
                  agreement:
                    userId: 321
                  updated_by: example
              13:
                summary: DESCRIPTION
                value:
                  agreement:
                    userId: 321
                  updated_by: example
              14:
                summary: DESCRIPTION
                value:
                  agreement:
                    userId: 321
                  updated_by: example
              15:
                summary: DESCRIPTION
                value:
                  agreement:
                    userId: 321
                  updated_by: example
              16:
                summary: DESCRIPTION
                value:
                  agreement:
                    userId: 321
                  updated_by: example
              17:
                summary: DESCRIPTION
                value:
                  agreement:
                    userId: '1234'
                  updated_by: chris@example.com
              18:
                summary: DESCRIPTION
                value:
                  agreement:
                    unapprove: true
                    userId: '1234'
                  updated_by: made-a-whoopsie@example.com
              19:
                summary: DESCRIPTION
                value:
                  agreement:
                    userId: '1234'
                  updated_by: chris@example.com
              20:
                summary: DESCRIPTION
                value:
                  agreement:
                    unapprove: true
                    userId: '1234'
                  updated_by: made-a-whoopsie@example.com
      responses:
        '200':
          description: DESCRIPTION
          content:
            application/json:
              schema:
                type: object
                properties:
                  agreement:
                    type: object
              examples:
                default:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      countersignedAgreementDetails:
                        approvedByUserId: '1234'
                        countersignerName: The Boss
                        countersignerRole: Director of Strings
                      countersignedAgreementReturnedAt: '2016-12-12T00:00:00.000000Z'
                      frameworkSlug: example-framework
                      id: 47
                      signedAgreementReturnedAt: '2016-10-01T00:00:00.000000Z'
                      status: approved
                      supplierId: 700046
                1:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      countersignedAgreementDetails:
                        approvedByUserId: '1234'
                        countersignerName: The Boss
                        countersignerRole: Director of Strings
                      countersignedAgreementReturnedAt: '2016-10-03T00:00:00.000000Z'
                      frameworkSlug: example-framework
                      id: 48
                      signedAgreementReturnedAt: '2016-10-01T00:00:00.000000Z'
                      status: approved
                      supplierId: 700047
                2:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      countersignedAgreementDetails:
                        approvedByUserId: '1234'
                      countersignedAgreementReturnedAt: '2016-10-03T00:00:00.000000Z'
                      frameworkSlug: example-framework
                      id: 50
                      signedAgreementReturnedAt: '2016-10-01T00:00:00.000000Z'
                      status: approved
                      supplierId: 700049
                3:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      countersignedAgreementDetails:
                        approvedByUserId: '1234'
                      countersignedAgreementReturnedAt: '2016-10-03T00:00:00.000000Z'
                      frameworkSlug: example-framework
                      id: 51
                      signedAgreementReturnedAt: '2016-10-01T00:00:00.000000Z'
                      status: approved
                      supplierId: 700050
                4:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      countersignedAgreementDetails:
                        approvedByUserId: '1234'
                      countersignedAgreementReturnedAt: '2016-12-12T00:00:00.000000Z'
                      frameworkSlug: example-framework
                      id: 53
                      signedAgreementReturnedAt: '2016-10-01T00:00:00.000000Z'
                      status: approved
                      supplierId: 700052
                5:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      frameworkSlug: example-framework
                      id: 53
                      signedAgreementReturnedAt: '2016-10-01T00:00:00.000000Z'
                      status: signed
                      supplierId: 700052
                6:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      countersignedAgreementDetails:
                        approvedByUserId: '1234'
                        countersignerName: The Boss
                        countersignerRole: Director of Strings
                      countersignedAgreementReturnedAt: '2016-12-12T00:00:00.000000Z'
                      frameworkSlug: example-framework
                      id: 47
                      signedAgreementReturnedAt: '2016-10-01T00:00:00.000000Z'
                      status: approved
                      supplierId: 700046
                7:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      countersignedAgreementDetails:
                        approvedByUserId: '1234'
                        countersignerName: The Boss
                        countersignerRole: Director of Strings
                      countersignedAgreementReturnedAt: '2016-10-03T00:00:00.000000Z'
                      frameworkSlug: example-framework
                      id: 48
                      signedAgreementReturnedAt: '2016-10-01T00:00:00.000000Z'
                      status: approved
                      supplierId: 700047
                8:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      countersignedAgreementDetails:
                        approvedByUserId: '1234'
                      countersignedAgreementReturnedAt: '2016-10-03T00:00:00.000000Z'
                      frameworkSlug: example-framework
                      id: 50
                      signedAgreementReturnedAt: '2016-10-01T00:00:00.000000Z'
                      status: approved
                      supplierId: 700049
                9:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      countersignedAgreementDetails:
                        approvedByUserId: '1234'
                      countersignedAgreementReturnedAt: '2016-10-03T00:00:00.000000Z'
                      frameworkSlug: example-framework
                      id: 51
                      signedAgreementReturnedAt: '2016-10-01T00:00:00.000000Z'
                      status: approved
                      supplierId: 700050
                10:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      countersignedAgreementDetails:
                        approvedByUserId: '1234'
                      countersignedAgreementReturnedAt: '2016-12-12T00:00:00.000000Z'
                      frameworkSlug: example-framework
                      id: 53
                      signedAgreementReturnedAt: '2016-10-01T00:00:00.000000Z'
                      status: approved
                      supplierId: 700052
                11:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      frameworkSlug: example-framework
                      id: 53
                      signedAgreementReturnedAt: '2016-10-01T00:00:00.000000Z'
                      status: signed
                      supplierId: 700052
                12:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      countersignedAgreementDetails:
                        approvedByUserId: 321
                      countersignedAgreementReturnedAt: '2016-11-30T09:00:00.000000Z'
                      frameworkSlug: g-cloud-8
                      id: 61
                      signedAgreementDetails:
                        frameworkAgreementVersion: v1.0
                        signerName: name_6
                        signerRole: job_6
                        uploaderUserId: 123
                      signedAgreementPath: path/to/agreement/6.pdf
                      signedAgreementReturnedAt: '2016-11-30T05:00:00.000000Z'
                      status: approved
                      supplierId: 6
                13:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      countersignedAgreementDetails:
                        approvedByUserId: 321
                      countersignedAgreementReturnedAt: '2016-11-30T08:00:00.000000Z'
                      frameworkSlug: g-cloud-8
                      id: 62
                      signedAgreementDetails:
                        frameworkAgreementVersion: v1.0
                        signerName: name_7
                        signerRole: job_7
                        uploaderUserId: 123
                      signedAgreementPath: path/to/agreement/7.pdf
                      signedAgreementReturnedAt: '2016-11-30T04:00:00.000000Z'
                      status: approved
                      supplierId: 7
                14:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      countersignedAgreementDetails:
                        approvedByUserId: 321
                      countersignedAgreementReturnedAt: '2016-11-30T07:00:00.000000Z'
                      frameworkSlug: g-cloud-8
                      id: 63
                      signedAgreementDetails:
                        frameworkAgreementVersion: v1.0
                        signerName: name_8
                        signerRole: job_8
                        uploaderUserId: 123
                      signedAgreementPath: path/to/agreement/8.pdf
                      signedAgreementReturnedAt: '2016-11-30T03:00:00.000000Z'
                      status: approved
                      supplierId: 8
                15:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      countersignedAgreementDetails:
                        approvedByUserId: 321
                      countersignedAgreementReturnedAt: '2016-11-30T06:00:00.000000Z'
                      frameworkSlug: g-cloud-8
                      id: 64
                      signedAgreementDetails:
                        frameworkAgreementVersion: v1.0
                        signerName: name_9
                        signerRole: job_9
                        uploaderUserId: 123
                      signedAgreementPath: path/to/agreement/9.pdf
                      signedAgreementReturnedAt: '2016-11-30T02:00:00.000000Z'
                      status: approved
                      supplierId: 9
                16:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      countersignedAgreementDetails:
                        approvedByUserId: 321
                      countersignedAgreementReturnedAt: '2016-11-30T05:00:00.000000Z'
                      frameworkSlug: g-cloud-8
                      id: 65
                      signedAgreementDetails:
                        frameworkAgreementVersion: v1.0
                        signerName: name_10
                        signerRole: job_10
                        uploaderUserId: 123
                      signedAgreementPath: path/to/agreement/10.pdf
                      signedAgreementReturnedAt: '2016-11-30T01:00:00.000000Z'
                      status: approved
                      supplierId: 10
        '400':
          description: DESCRIPTION
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              examples:
                default:
                  summary: DESCRIPTION
                  value:
                    error: Framework agreement must have status 'signed' or 'on hold'
                      to be countersigned
                1:
                  summary: DESCRIPTION
                  value:
                    error: Framework agreement must have status 'approved' to be unapproved
                2:
                  summary: DESCRIPTION
                  value:
                    error: Framework agreement must have status 'signed' or 'on hold'
                      to be countersigned
                3:
                  summary: DESCRIPTION
                  value:
                    error: Framework agreement must have status 'approved' to be unapproved
      security:
      - apikey: []
  /agreements/{agreement_id}/on-hold:
    parameters:
    - in: path
      name: agreement_id
      schema:
        type: integer
      required: true
      description: 'Example: `/agreements/46/on-hold`'
    post:
      summary: SUMMARY
      description: |-
        DESCRIPTION
      tags:
      - Agreements
      parameters: []
      requestBody:
        description: Request body
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                updated_by:
                  type: string
            examples:
              default:
                summary: DESCRIPTION
                value:
                  updated_by: interested@example.com
              1:
                summary: DESCRIPTION
                value:
                  updated_by: interested@example.com
              2:
                summary: DESCRIPTION
                value:
                  updated_by: interested@example.com
              3:
                summary: DESCRIPTION
                value:
                  updated_by: interested@example.com
              4:
                summary: DESCRIPTION
                value:
                  updated_by: example
              5:
                summary: DESCRIPTION
                value:
                  updated_by: example
              6:
                summary: DESCRIPTION
                value:
                  updated_by: interested@example.com
              7:
                summary: DESCRIPTION
                value:
                  updated_by: interested@example.com
              8:
                summary: DESCRIPTION
                value:
                  updated_by: interested@example.com
              9:
                summary: DESCRIPTION
                value:
                  updated_by: interested@example.com
              10:
                summary: DESCRIPTION
                value:
                  updated_by: interested@example.com
              11:
                summary: DESCRIPTION
                value:
                  updated_by: interested@example.com
      responses:
        '200':
          description: DESCRIPTION
          content:
            application/json:
              schema:
                type: object
                properties:
                  agreement:
                    type: object
              examples:
                default:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      frameworkSlug: example-framework
                      id: 43
                      signedAgreementPutOnHoldAt: '2016-12-12T00:00:00.000000Z'
                      signedAgreementReturnedAt: '2016-10-01T00:00:00.000000Z'
                      status: on-hold
                      supplierId: 700042
                1:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      frameworkSlug: example-framework
                      id: 48
                      signedAgreementPutOnHoldAt: '2016-10-02T00:00:00.000000Z'
                      signedAgreementReturnedAt: '2016-10-01T00:00:00.000000Z'
                      status: on-hold
                      supplierId: 700047
                2:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      frameworkSlug: example-framework
                      id: 43
                      signedAgreementPutOnHoldAt: '2016-12-12T00:00:00.000000Z'
                      signedAgreementReturnedAt: '2016-10-01T00:00:00.000000Z'
                      status: on-hold
                      supplierId: 700042
                3:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      frameworkSlug: example-framework
                      id: 48
                      signedAgreementPutOnHoldAt: '2016-10-02T00:00:00.000000Z'
                      signedAgreementReturnedAt: '2016-10-01T00:00:00.000000Z'
                      status: on-hold
                      supplierId: 700047
                4:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      frameworkSlug: g-cloud-8
                      id: 59
                      signedAgreementDetails:
                        frameworkAgreementVersion: v1.0
                        signerName: name_4
                        signerRole: job_4
                        uploaderUserId: 123
                      signedAgreementPath: path/to/agreement/4.pdf
                      signedAgreementPutOnHoldAt: '2016-11-30T11:00:00.000000Z'
                      signedAgreementReturnedAt: '2016-11-30T07:00:00.000000Z'
                      status: on-hold
                      supplierId: 4
                5:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      frameworkSlug: g-cloud-8
                      id: 64
                      signedAgreementDetails:
                        frameworkAgreementVersion: v1.0
                        signerName: name_9
                        signerRole: job_9
                        uploaderUserId: 123
                      signedAgreementPath: path/to/agreement/9.pdf
                      signedAgreementPutOnHoldAt: '2016-11-30T09:00:00.000000Z'
                      signedAgreementReturnedAt: '2016-11-30T02:00:00.000000Z'
                      status: on-hold
                      supplierId: 9
        '400':
          description: DESCRIPTION
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              examples:
                default:
                  summary: DESCRIPTION
                  value:
                    error: Framework agreement must have status 'signed' to be put on
                      hold
                1:
                  summary: DESCRIPTION
                  value:
                    error: Framework agreement must have status 'signed' to be put on
                      hold
                2:
                  summary: DESCRIPTION
                  value:
                    error: Framework agreement must have a 'frameworkAgreementVersion'
                      to be put on hold
                3:
                  summary: DESCRIPTION
                  value:
                    error: Framework agreement must have status 'signed' to be put on
                      hold
                4:
                  summary: DESCRIPTION
                  value:
                    error: Framework agreement must have status 'signed' to be put on
                      hold
                5:
                  summary: DESCRIPTION
                  value:
                    error: Framework agreement must have a 'frameworkAgreementVersion'
                      to be put on hold
      security:
      - apikey: []
  /agreements/{agreement_id}/sign:
    parameters:
    - in: path
      name: agreement_id
      schema:
        type: integer
      required: true
      description: 'Example: `/agreements/39/sign`'
    post:
      summary: SUMMARY
      description: |-
        DESCRIPTION
      tags:
      - Agreements
      parameters: []
      requestBody:
        description: Request body
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                agreement:
                  type: object
                updated_by:
                  type: string
            examples:
              default:
                summary: DESCRIPTION
                value:
                  agreement:
                    signedAgreementDetails:
                      uploaderUserId: 1
                  updated_by: interested@example.com
              1:
                summary: DESCRIPTION
                value:
                  agreement:
                    signedAgreementDetails:
                      uploaderUserId: 1
                  updated_by: interested@example.com
              2:
                summary: DESCRIPTION
                value:
                  agreement:
                    signedAgreementDetails:
                      uploaderUserId: 1
                  updated_by: interested@example.com
              3:
                summary: DESCRIPTION
                value:
                  updated_by: interested@example.com
              4:
                summary: DESCRIPTION
                value:
                  updated_by: interested@example.com
              5:
                summary: DESCRIPTION
                value:
                  updated_by: interested@example.com
              6:
                summary: DESCRIPTION
                value:
                  agreement:
                    signedAgreementDetails:
                      uploaderUserId: 1
                  updated_by: interested@example.com
              7:
                summary: DESCRIPTION
                value:
                  agreement:
                    signedAgreementDetails:
                      uploaderUserId: 1
                  updated_by: interested@example.com
              8:
                summary: DESCRIPTION
                value:
                  agreement:
                    signedAgreementDetails:
                      uploaderUserId: 1
                  updated_by: interested@example.com
              9:
                summary: DESCRIPTION
                value:
                  updated_by: interested@example.com
              10:
                summary: DESCRIPTION
                value:
                  updated_by: interested@example.com
              11:
                summary: DESCRIPTION
                value:
                  updated_by: interested@example.com
              12:
                summary: DESCRIPTION
                value:
                  agreement: {}
                  updated_by: example
              13:
                summary: DESCRIPTION
                value:
                  agreement:
                    signedAgreementDetails:
                      uploaderUserId: 123
                  updated_by: example
              14:
                summary: DESCRIPTION
                value:
                  agreement:
                    signedAgreementDetails:
                      uploaderUserId: 123
                  updated_by: example
              15:
                summary: DESCRIPTION
                value:
                  agreement:
                    signedAgreementDetails:
                      uploaderUserId: 123
                  updated_by: example
              16:
                summary: DESCRIPTION
                value:
                  agreement:
                    signedAgreementDetails:
                      uploaderUserId: 123
                  updated_by: example
              17:
                summary: DESCRIPTION
                value:
                  agreement:
                    signedAgreementDetails:
                      uploaderUserId: 123
                  updated_by: example
              18:
                summary: DESCRIPTION
                value:
                  agreement:
                    signedAgreementDetails:
                      uploaderUserId: 123
                  updated_by: example
              19:
                summary: DESCRIPTION
                value:
                  agreement:
                    signedAgreementDetails:
                      uploaderUserId: 123
                  updated_by: example
              20:
                summary: DESCRIPTION
                value:
                  agreement:
                    signedAgreementDetails:
                      uploaderUserId: 123
                  updated_by: example
              21:
                summary: DESCRIPTION
                value:
                  updated_by: interested@example.com
              22:
                summary: DESCRIPTION
                value:
                  updated_by: interested@example.com
              23:
                summary: DESCRIPTION
                value:
                  agreement:
                    signedAgreementDetails:
                      uploaderUserId: 1
                  updated_by: interested@example.com
              24:
                summary: DESCRIPTION
                value:
                  agreement:
                    signedAgreementDetails:
                      uploaderUserId: 1
                  updated_by: interested@example.com
              25:
                summary: DESCRIPTION
                value:
                  agreement:
                    signedAgreementDetails:
                      uploaderUserId: 20
                  updated_by: interested@example.com
              26:
                summary: DESCRIPTION
                value:
                  agreement:
                    signedAgreementDetails:
                      uploaderUserId: 1
                  updated_by: interested@example.com
              27:
                summary: DESCRIPTION
                value:
                  agreement:
                    signedAgreementDetails:
                      uploaderUserId: 1
                  updated_by: interested@example.com
              28:
                summary: DESCRIPTION
                value:
                  agreement:
                    signedAgreementDetails:
                      uploaderUserId: 20
                  updated_by: interested@example.com
      responses:
        '200':
          description: DESCRIPTION
          content:
            application/json:
              schema:
                type: object
                properties:
                  agreement:
                    type: object
              examples:
                default:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      frameworkSlug: example-framework
                      id: 34
                      signedAgreementDetails:
                        frameworkAgreementVersion: v1.0
                        signerName: name
                        signerRole: role
                        uploaderUserId: 1
                      signedAgreementPath: /example.pdf
                      signedAgreementReturnedAt: '2016-12-12T00:00:00.000000Z'
                      status: signed
                      supplierId: 700033
                1:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      frameworkSlug: example-framework
                      id: 35
                      signedAgreementDetails:
                        frameworkAgreementVersion: v1.0
                        signerName: name
                        signerRole: role
                        uploaderUserId: 1
                      signedAgreementPath: /example.pdf
                      signedAgreementReturnedAt: '2017-06-27T13:30:24.307428Z'
                      status: signed
                      supplierId: 700034
                2:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      frameworkSlug: example-framework
                      id: 36
                      signedAgreementDetails:
                        frameworkAgreementVersion: v1.0
                        signerName: name
                        signerRole: role
                        uploaderUserId: 1
                      signedAgreementPath: /example.pdf
                      signedAgreementReturnedAt: '2016-12-12T00:00:00.000000Z'
                      status: signed
                      supplierId: 700035
                3:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      frameworkSlug: example-framework
                      id: 40
                      signedAgreementReturnedAt: '2016-12-12T00:00:00.000000Z'
                      status: signed
                      supplierId: 700039
                4:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      frameworkSlug: example-framework
                      id: 41
                      signedAgreementReturnedAt: '2017-06-27T13:30:25.559356Z'
                      status: signed
                      supplierId: 700040
                5:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      frameworkSlug: example-framework
                      id: 42
                      signedAgreementReturnedAt: '2016-12-12T00:00:00.000000Z'
                      status: signed
                      supplierId: 700041
                6:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      frameworkSlug: example-framework
                      id: 34
                      signedAgreementDetails:
                        frameworkAgreementVersion: v1.0
                        signerName: name
                        signerRole: role
                        uploaderUserId: 1
                      signedAgreementPath: /example.pdf
                      signedAgreementReturnedAt: '2016-12-12T00:00:00.000000Z'
                      status: signed
                      supplierId: 700033
                7:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      frameworkSlug: example-framework
                      id: 35
                      signedAgreementDetails:
                        frameworkAgreementVersion: v1.0
                        signerName: name
                        signerRole: role
                        uploaderUserId: 1
                      signedAgreementPath: /example.pdf
                      signedAgreementReturnedAt: '2017-06-27T13:31:23.484765Z'
                      status: signed
                      supplierId: 700034
                8:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      frameworkSlug: example-framework
                      id: 36
                      signedAgreementDetails:
                        frameworkAgreementVersion: v1.0
                        signerName: name
                        signerRole: role
                        uploaderUserId: 1
                      signedAgreementPath: /example.pdf
                      signedAgreementReturnedAt: '2016-12-12T00:00:00.000000Z'
                      status: signed
                      supplierId: 700035
                9:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      frameworkSlug: example-framework
                      id: 40
                      signedAgreementReturnedAt: '2016-12-12T00:00:00.000000Z'
                      status: signed
                      supplierId: 700039
                10:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      frameworkSlug: example-framework
                      id: 41
                      signedAgreementReturnedAt: '2017-06-27T13:31:24.941758Z'
                      status: signed
                      supplierId: 700040
                11:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      frameworkSlug: example-framework
                      id: 42
                      signedAgreementReturnedAt: '2016-12-12T00:00:00.000000Z'
                      status: signed
                      supplierId: 700041
                12:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      frameworkSlug: g-cloud-7
                      id: 55
                      signedAgreementPath: /path-to-g-cloud-7.pdf
                      signedAgreementReturnedAt: '2016-10-10T00:00:00.285006Z'
                      status: signed
                      supplierId: 0
                13:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      frameworkSlug: g-cloud-8
                      id: 58
                      signedAgreementDetails:
                        frameworkAgreementVersion: v1.0
                        signerName: name_3
                        signerRole: job_3
                        uploaderUserId: 123
                      signedAgreementPath: path/to/agreement/3.pdf
                      signedAgreementReturnedAt: '2016-11-30T08:00:00.000000Z'
                      status: signed
                      supplierId: 3
                14:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      frameworkSlug: g-cloud-8
                      id: 59
                      signedAgreementDetails:
                        frameworkAgreementVersion: v1.0
                        signerName: name_4
                        signerRole: job_4
                        uploaderUserId: 123
                      signedAgreementPath: path/to/agreement/4.pdf
                      signedAgreementReturnedAt: '2016-11-30T07:00:00.000000Z'
                      status: signed
                      supplierId: 4
                15:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      frameworkSlug: g-cloud-8
                      id: 60
                      signedAgreementDetails:
                        frameworkAgreementVersion: v1.0
                        signerName: name_5
                        signerRole: job_5
                        uploaderUserId: 123
                      signedAgreementPath: path/to/agreement/5.pdf
                      signedAgreementReturnedAt: '2016-11-30T06:00:00.000000Z'
                      status: signed
                      supplierId: 5
                16:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      frameworkSlug: g-cloud-8
                      id: 61
                      signedAgreementDetails:
                        frameworkAgreementVersion: v1.0
                        signerName: name_6
                        signerRole: job_6
                        uploaderUserId: 123
                      signedAgreementPath: path/to/agreement/6.pdf
                      signedAgreementReturnedAt: '2016-11-30T05:00:00.000000Z'
                      status: signed
                      supplierId: 6
                17:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      frameworkSlug: g-cloud-8
                      id: 62
                      signedAgreementDetails:
                        frameworkAgreementVersion: v1.0
                        signerName: name_7
                        signerRole: job_7
                        uploaderUserId: 123
                      signedAgreementPath: path/to/agreement/7.pdf
                      signedAgreementReturnedAt: '2016-11-30T04:00:00.000000Z'
                      status: signed
                      supplierId: 7
                18:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      frameworkSlug: g-cloud-8
                      id: 63
                      signedAgreementDetails:
                        frameworkAgreementVersion: v1.0
                        signerName: name_8
                        signerRole: job_8
                        uploaderUserId: 123
                      signedAgreementPath: path/to/agreement/8.pdf
                      signedAgreementReturnedAt: '2016-11-30T03:00:00.000000Z'
                      status: signed
                      supplierId: 8
                19:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      frameworkSlug: g-cloud-8
                      id: 64
                      signedAgreementDetails:
                        frameworkAgreementVersion: v1.0
                        signerName: name_9
                        signerRole: job_9
                        uploaderUserId: 123
                      signedAgreementPath: path/to/agreement/9.pdf
                      signedAgreementReturnedAt: '2016-11-30T02:00:00.000000Z'
                      status: signed
                      supplierId: 9
                20:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      frameworkSlug: g-cloud-8
                      id: 65
                      signedAgreementDetails:
                        frameworkAgreementVersion: v1.0
                        signerName: name_10
                        signerRole: job_10
                        uploaderUserId: 123
                      signedAgreementPath: path/to/agreement/10.pdf
                      signedAgreementReturnedAt: '2016-11-30T01:00:00.000000Z'
                      status: signed
                      supplierId: 10
                21:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      frameworkSlug: digital-outcomes-and-specialists
                      id: 70
                      signedAgreementReturnedAt: '2017-06-27T13:33:32.328716Z'
                      status: signed
                      supplierId: 1
                22:
                  summary: DESCRIPTION
                  value:
                    agreement:
                      frameworkSlug: digital-outcomes-and-specialists
                      id: 71
                      signedAgreementReturnedAt: '2017-06-27T13:33:35.010473Z'
                      status: signed
                      supplierId: 1
        '400':
          description: DESCRIPTION
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              examples:
                default:
                  summary: DESCRIPTION
                  value:
                    error:
                      signerName: answer_required
                1:
                  summary: DESCRIPTION
                  value:
                    error:
                      signerRole: answer_required
                2:
                  summary: DESCRIPTION
                  value:
                    error: No user found with id '20'
                3:
                  summary: DESCRIPTION
                  value:
                    error:
                      signerName: answer_required
                4:
                  summary: DESCRIPTION
                  value:
                    error:
                      signerRole: answer_required
                5:
                  summary: DESCRIPTION
                  value:
                    error: No user found with id '20'
      security:
      - apikey: []
  /archived-services:
    get:
      summary: SUMMARY
      description: |-
        DESCRIPTION
      tags:
      - Archived-services
      parameters:
      - in: query
        name: service-id
        schema:
          type: integer
        required: false
        description: |-
          Examples: `1234567890123458`,
          `178347946729365`,
          `12345678901234`
      - in: query
        name: service-id
        schema:
          type: string
        required: false
        description: |-
          Examples: `not-valid`,
          `1234567890.1`
      responses:
        '200':
          description: DESCRIPTION
          content:
            application/json:
              schema:
                type: object
                properties:
                  links:
                    type: object
                  services:
                    type: array
              examples:
                default:
                  summary: DESCRIPTION
                  value:
                    links:
                      self: https://api.digitalmarketplace.service.gov.uk/services?service-id=1234567890123458
                    services:
                    - analyticsAvailable: true
                      apiAccess: false
                      apiType: ''
                      auditInformationProvided:
                        assurance: Independent validation of assertion
                        value: Data made available
                      changeImpactAssessment:
                        assurance: Service provider assertion
                        value: false
                      cloudDeploymentModel:
                        assurance: Independent validation of assertion
                        value: Community cloud
                      codeLibraryLanguages:
                      - 'sdfkhs  " " g lh: : [   ]'
                      - '] : " ["blah"]'
                      createdAt: '2014-12-23T14:51:19.000000Z'
                      dataAtRestProtections:
                        assurance: Independent validation of assertion
                        value:
                        - CPA Foundation-grade assured components
                      dataBackupRecovery: false
                      dataExtractionRemoval: true
                      dataManagementLocations:
                        assurance: Contractual commitment
                        value:
                        - USA - Safe Harbor
                        - Other countries with data protection treaties
                        - Rest of world
                      dataProtectionBetweenUserAndService:
                        assurance: Independent validation of assertion
                        value:
                        - VPN using legacy SSL or TLS
                      dataSecureDeletion:
                        assurance: Service provider assertion
                        value: Other secure erasure process
                      datacentreLocations:
                        assurance: Service provider assertion
                        value:
                        - EU
                        - USA - Safe Harbor
                      datacentreProtectionDisclosure:
                        assurance: Service provider assertion
                        value: false
                      datacentreTier: TIA-942 Tier 1
                      datacentresEUCode: true
                      datacentresSpecifyLocation: true
                      deprovisioningTime: 3 days
                      deviceAccessMethod:
                        assurance: Independent validation of assertion
                        value:
                        - Corporate/enterprise devices
                      educationPricing: false
                      elasticCloud: false
                      eventMonitoring:
                        assurance: Independent validation of assertion
                        value: false
                      frameworkFramework: g-cloud
                      frameworkName: G-Cloud 6
                      frameworkSlug: g-cloud-6
                      frameworkStatus: live
                      freeOption: false
                      governanceFramework:
                        assurance: Independent validation of assertion
                        value: false
                      guaranteedResources: true
                      id: '1234567890123458'
                      identityAuthenticationControls:
                        assurance: Service provider assertion
                        value:
                        - Limited access over dedicated link, enterprise or community
                          network
                        - Username and password
                        - Username and strong password/passphrase enforcement
                      identityStandards:
                      - '[To be completed]'
                      incidentDefinitionPublished:
                        assurance: Service provider assertion
                        value: false
                      incidentEscalation: true
                      incidentManagementProcess:
                        assurance: Independent validation of assertion
                        value: true
                      incidentManagementReporting:
                        assurance: Independent validation of assertion
                        value: true
                      legalJurisdiction:
                        assurance: Independent validation of assertion
                        value: UK
                      links:
                        self: https://api.digitalmarketplace.service.gov.uk/archived-services/2
                      lot: saas
                      lotName: Software as a Service
                      lotSlug: saas
                      minimumContractPeriod: Other
                      networksConnected:
                      - Public Services Network (PSN)
                      - Government Secure intranet (GSi)
                      - Police National Network (PNN)
                      offlineWorking: true
                      openSource: true
                      openStandardsSupported: false
                      otherConsumers:
                        assurance: Service provider assertion
                        value: No other consumer
                      persistentStorage: false
                      personnelSecurityChecks:
                        assurance: Independent validation of assertion
                        value:
                        - Baseline personnel security standard (BPSS)
                        - Background checks in accordance with BS7858:2012
                      priceInterval: Quarter
                      priceMax: '400.23456'
                      priceMin: '345.89'
                      priceString: "\xA3345.89 to \xA3400.23456 per instance per quarter"
                      priceUnit: Instance
                      pricingDocument: Poster_MJ_s_Charity_Concert_WLC.pdf
                      pricingDocumentURL: https://s3-eu-west-1.amazonaws.com/gds-g6-submission-bucket-local/1/10/10-pricing-document.pdf
                      provisioningTime: 4 hours
                      restrictAdministratorPermissions:
                        assurance: Independent validation of assertion
                        value: false
                      secureConfigurationManagement:
                        assurance: Service provider assertion
                        value: false
                      secureDesign:
                        assurance: Service provider assertion
                        value: false
                      secureDevelopment:
                        assurance: Service provider assertion
                        value: false
                      selfServiceProvisioning: false
                      serviceAvailabilityPercentage:
                        assurance: Service provider assertion
                        value: 99.999999
                      serviceBenefits:
                      - Lovely fonts
                      serviceDefinitionDocument: Poster_MJ_s_Charity_Concert_WLC.pdf
                      serviceDefinitionDocumentURL: https://s3-eu-west-1.amazonaws.com/gds-g6-submission-bucket-local/1/10/10-service-definition-document.pdf
                      serviceFeatures:
                      - Clippy
                      - You can turn Clippy off
                      serviceManagementModel:
                        assurance: Independent validation of assertion
                        value:
                        - Dedicated devices on a segregated network
                      serviceName: chickens
                      serviceOffboarding: false
                      serviceOnboarding: true
                      serviceSummary: Like Windows in the cloud.
                      serviceTypes:
                      - Accounting and finance
                      - Business intelligence and analytics
                      - Collaboration
                      - Human resources and employee management
                      - IT management
                      - Operations management
                      - Project management and planning
                      - Transport and logistics
                      servicesManagementSeparation:
                        assurance: Independent testing of implementation
                        value: true
                      servicesSeparation:
                        assurance: Independent testing of implementation
                        value: false
                      sfiaRateDocument: Poster_MJ_s_Charity_Concert_WLC.pdf
                      sfiaRateDocumentURL: https://s3-eu-west-1.amazonaws.com/gds-g6-submission-bucket-local/1/10/10-sfia-rate-card.pdf
                      status: published
                      supplierId: 1
                      supplierName: Supplier 1
                      supportAvailability: Some days I like support.
                      supportForThirdParties: true
                      supportResponseTime: You may have to wait for weeks.
                      supportTypes:
                      - Service desk
                      - Email
                      supportedBrowsers:
                      - Internet Explorer 7
                      - Internet Explorer 8
                      supportedDevices:
                      - Smartphone
                      termsAndConditionsDocument: Poster_MJ_s_Charity_Concert_WLC.pdf
                      termsAndConditionsDocumentURL: https://s3-eu-west-1.amazonaws.com/gds-g6-submission-bucket-local/1/10/10-terms-and-condtions.pdf
                      thirdPartyComplianceMonitoring:
                        assurance: Independent validation of assertion
                        value: true
                      thirdPartyDataSharingInformation:
                        assurance: Independent validation of assertion
                        value: true
                      thirdPartyRiskAssessment:
                        assurance: Independent validation of assertion
                        value: true
                      thirdPartySecurityRequirements:
                        assurance: Service provider assertion
                        value: false
                      title: A SaaS with lots of options
                      trainingProvided:
                        assurance: Service provider assertion
                        value: true
                      trialOption: true
                      updatedAt: '2017-06-27T13:32:14.551331Z'
                      userAccessControlManagement:
                        assurance: Service provider assertion
                        value: false
                      userAuthenticateManagement:
                        assurance: Independent testing of implementation
                        value: false
                      userAuthenticateSupport:
                        assurance: Service provider assertion
                        value: true
                      vatIncluded: true
                      vendorCertifications:
                      - '[To be completed]'
                      vulnerabilityAssessment:
                        assurance: Service provider assertion
                        value: false
                      vulnerabilityMitigationPrioritisation:
                        assurance: Service provider assertion
                        value: false
                      vulnerabilityMonitoring:
                        assurance: Service provider assertion
                        value: false
                      vulnerabilityTimescales:
                        assurance: Service provider assertion
                        value: true
                      vulnerabilityTracking:
                        assurance: Service provider assertion
                        value: false
                1:
                  summary: DESCRIPTION
                  value:
                    links:
                      self: https://api.digitalmarketplace.service.gov.uk/services?service-id=178347946729365
                    services:
                    - createdAt: '2017-06-27T13:32:16.114252Z'
                      educationPricing: false
                      frameworkFramework: g-cloud
                      frameworkName: G-Cloud 7
                      frameworkSlug: g-cloud-7
                      frameworkStatus: open
                      id: '178347946729365'
                      incidentEscalation: false
                      links:
                        self: https://api.digitalmarketplace.service.gov.uk/archived-services/5
                      lot: scs
                      lotName: Specialist Cloud Services
                      lotSlug: scs
                      minimumContractPeriod: Hour
                      priceInterval: 6 months
                      priceMax: '36.56'
                      priceMin: '34.65'
                      priceUnit: Licence
                      pricingDocumentURL: https://assets.digitalmarketplace.service.gov.uk/documents/1/7234567890123456-pricing-document.pdf
                      serviceBenefits:
                      - Good for hard-working people
                      serviceDefinitionDocumentURL: https://assets.digitalmarketplace.service.gov.uk/documents/1/7234567890123456-service-definition-document.pdf
                      serviceFeatures:
                      - Useful to your organisation
                      serviceName: An example G-7 SCS Service
                      serviceSummary: Probably the best cloud service in the world
                      serviceTypes:
                      - Implementation
                      - Ongoing support
                      - Planning
                      sfiaRateDocumentURL: https://assets.digitalmarketplace.service.gov.uk/documents/1/7234567890123456-sfia-rate-card.pdf
                      status: published
                      supplierId: 1
                      supplierName: Supplier 1
                      supportAvailability: Monday-Wednesday only
                      supportForThirdParties: true
                      supportResponseTime: 48 Hours
                      supportTypes:
                      - Service desk
                      - Live chat
                      - Onsite
                      terminationCost: true
                      termsAndConditionsDocumentURL: https://assets.digitalmarketplace.service.gov.uk/documents/1/7234567890123456-terms-and-condtions.pdf
                      updatedAt: '2017-06-27T13:32:16.114262Z'
                      vatIncluded: true
                      vendorCertifications:
                      - ISO 27107
                2:
                  summary: DESCRIPTION
                  value:
                    links:
                      self: https://api.digitalmarketplace.service.gov.uk/services?service-id=1234567890123458
                    services:
                    - analyticsAvailable: true
                      apiAccess: false
                      apiType: ''
                      auditInformationProvided:
                        assurance: Independent validation of assertion
                        value: Data made available
                      changeImpactAssessment:
                        assurance: Service provider assertion
                        value: false
                      cloudDeploymentModel:
                        assurance: Independent validation of assertion
                        value: Community cloud
                      codeLibraryLanguages:
                      - 'sdfkhs  " " g lh: : [   ]'
                      - '] : " ["blah"]'
                      createdAt: '2014-12-23T14:51:19.000000Z'
                      dataAtRestProtections:
                        assurance: Independent validation of assertion
                        value:
                        - CPA Foundation-grade assured components
                      dataBackupRecovery: false
                      dataExtractionRemoval: true
                      dataManagementLocations:
                        assurance: Contractual commitment
                        value:
                        - USA - Safe Harbor
                        - Other countries with data protection treaties
                        - Rest of world
                      dataProtectionBetweenUserAndService:
                        assurance: Independent validation of assertion
                        value:
                        - VPN using legacy SSL or TLS
                      dataSecureDeletion:
                        assurance: Service provider assertion
                        value: Other secure erasure process
                      datacentreLocations:
                        assurance: Service provider assertion
                        value:
                        - EU
                        - USA - Safe Harbor
                      datacentreProtectionDisclosure:
                        assurance: Service provider assertion
                        value: false
                      datacentreTier: TIA-942 Tier 1
                      datacentresEUCode: true
                      datacentresSpecifyLocation: true
                      deprovisioningTime: 3 days
                      deviceAccessMethod:
                        assurance: Independent validation of assertion
                        value:
                        - Corporate/enterprise devices
                      educationPricing: false
                      elasticCloud: false
                      eventMonitoring:
                        assurance: Independent validation of assertion
                        value: false
                      frameworkFramework: g-cloud
                      frameworkName: G-Cloud 6
                      frameworkSlug: g-cloud-6
                      frameworkStatus: live
                      freeOption: false
                      governanceFramework:
                        assurance: Independent validation of assertion
                        value: false
                      guaranteedResources: true
                      id: '1234567890123458'
                      identityAuthenticationControls:
                        assurance: Service provider assertion
                        value:
                        - Limited access over dedicated link, enterprise or community
                          network
                        - Username and password
                        - Username and strong password/passphrase enforcement
                      identityStandards:
                      - '[To be completed]'
                      incidentDefinitionPublished:
                        assurance: Service provider assertion
                        value: false
                      incidentEscalation: true
                      incidentManagementProcess:
                        assurance: Independent validation of assertion
                        value: true
                      incidentManagementReporting:
                        assurance: Independent validation of assertion
                        value: true
                      legalJurisdiction:
                        assurance: Independent validation of assertion
                        value: UK
                      links:
                        self: https://api.digitalmarketplace.service.gov.uk/archived-services/17
                      lot: saas
                      lotName: Software as a Service
                      lotSlug: saas
                      minimumContractPeriod: Other
                      networksConnected:
                      - Public Services Network (PSN)
                      - Government Secure intranet (GSi)
                      - Police National Network (PNN)
                      offlineWorking: true
                      openSource: true
                      openStandardsSupported: false
                      otherConsumers:
                        assurance: Service provider assertion
                        value: No other consumer
                      persistentStorage: false
                      personnelSecurityChecks:
                        assurance: Independent validation of assertion
                        value:
                        - Baseline personnel security standard (BPSS)
                        - Background checks in accordance with BS7858:2012
                      priceInterval: Quarter
                      priceMax: '400.23456'
                      priceMin: '345.89'
                      priceString: "\xA3345.89 to \xA3400.23456 per instance per quarter"
                      priceUnit: Instance
                      pricingDocument: Poster_MJ_s_Charity_Concert_WLC.pdf
                      pricingDocumentURL: https://s3-eu-west-1.amazonaws.com/gds-g6-submission-bucket-local/1/10/10-pricing-document.pdf
                      provisioningTime: 4 hours
                      restrictAdministratorPermissions:
                        assurance: Independent validation of assertion
                        value: false
                      secureConfigurationManagement:
                        assurance: Service provider assertion
                        value: false
                      secureDesign:
                        assurance: Service provider assertion
                        value: false
                      secureDevelopment:
                        assurance: Service provider assertion
                        value: false
                      selfServiceProvisioning: false
                      serviceAvailabilityPercentage:
                        assurance: Service provider assertion
                        value: 99.999999
                      serviceBenefits:
                      - Lovely fonts
                      serviceDefinitionDocument: Poster_MJ_s_Charity_Concert_WLC.pdf
                      serviceDefinitionDocumentURL: https://s3-eu-west-1.amazonaws.com/gds-g6-submission-bucket-local/1/10/10-service-definition-document.pdf
                      serviceFeatures:
                      - Clippy
                      - You can turn Clippy off
                      serviceManagementModel:
                        assurance: Independent validation of assertion
                        value:
                        - Dedicated devices on a segregated network
                      serviceName: new service name
                      serviceOffboarding: false
                      serviceOnboarding: true
                      serviceSummary: Like Windows in the cloud.
                      serviceTypes:
                      - Accounting and finance
                      - Business intelligence and analytics
                      - Collaboration
                      - Human resources and employee management
                      - IT management
                      - Operations management
                      - Project management and planning
                      - Transport and logistics
                      servicesManagementSeparation:
                        assurance: Independent testing of implementation
                        value: true
                      servicesSeparation:
                        assurance: Independent testing of implementation
                        value: false
                      sfiaRateDocument: Poster_MJ_s_Charity_Concert_WLC.pdf
                      sfiaRateDocumentURL: https://s3-eu-west-1.amazonaws.com/gds-g6-submission-bucket-local/1/10/10-sfia-rate-card.pdf
                      status: published
                      supplierId: 1
                      supplierName: Supplier 1
                      supportAvailability: Some days I like support.
                      supportForThirdParties: true
                      supportResponseTime: You may have to wait for weeks.
                      supportTypes:
                      - Service desk
                      - Email
                      supportedBrowsers:
                      - Internet Explorer 7
                      - Internet Explorer 8
[...]
